@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=VT323&display=swap');
@import "tailwindcss/preflight";
@tailwind utilities;

:root {
  font-family: "VT323", monospace;
  line-height: 1.4;
  font-weight: 400;
  color-scheme: dark;
  color: #33ff00; /* Neon Green */
  background-color: #000000;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: none; /* Pixel perfect, no antialiasing */
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
  width: 100%;
}

body {
  margin: 0;
  min-width: 100%;
  min-height: 100vh;
  width: 100%;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #047857;
  /* Dark Green */
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Selection color */
::selection {
  background: var(--primary-color);
  color: white;
}